.elemQuiz {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    border: 1px beige solid;
}
.quizTitle {
    padding-right: 20px;
}

.icon-close {
    position: absolute;
    cursor: pointer;
    right: 0;
    top: 0;
}