
:root {
    --font-main: Impact, Charcoal, sans-serif;
    --font-size-m: 16px;
    --font-line-m: 24px;
    --font-size-l: 24px;
    --font-line-l: 32px;
    --color-light: black;
    --color-dark: white;
    --full-height: 100vh;
    --navbar-height: 50px;
}